/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font: 'Inter-Variable';
    --accent-font: 'PressStart2P-Regular';
    --background-image: url(../images/background.svg);
    --main-color: #000;
    --background-color: #fff;
    --article-title-font-weight: 700;
    --main-text-font-weight: 400;
}